# testing
pytest
pytest-cov
pytest-mock
pytest-sugar
pytest-watch
pytest-cache
pytest_cases

# linting
flake8==3.6.0
pep8-naming
flake8-print
flake8-todo
flake8-isort

# env
python-dotenv
pytest-dotenv

# Tezos
pytezos==2.1.8
